body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d9d9d9;
  background-color: #131019;
  background-position: 50% 0;
  background-image: url("https://cdn-production-opera-website.operacdn.com/staticfiles/assets/images/3580eabc7ffc8362ce3e1f1871f9eac9.44f63b5fe738.jpg?1458c421a508");
  background-repeat: repeat-y;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}
